/.metadata/

###application.properties file###
C:\Users\singh\Desktop\cw_project_block26\dangerous-powder-9842\PlantParadiseMarket_Backend\PlantParadiseMarket_Application\src\main\resources\application.properties
